.dashboard {
  border: 2px solid #ccc;  /* Change the color and thickness as needed */
  border-radius: 8px;  /* Optional: Adds rounded corners to your containers */
  padding: 20px;  /* Adds spacing inside the containers */
  margin: 10px;  /* Adds space between containers */
  overflow: auto;  /* Ensures content does not overflow the boundaries of the containers */
}

/* Specific styles for layout structure */
.dashboard {
  display: grid;
  border: 2px solid #ccc;  /* Change the color and thickness as needed */
  grid-template-columns: 1fr 2fr;  /* Adjust these fractions based on your design needs */
  gap: 20px;
}

.product-details {
  border: 2px solid #ccc;  /* Change the color and thickness as needed */
  grid-column: 1 / 2; /* Take the first column */
  grid-row: 1 / 3; /* Span through the entire height of the grid */
}

.sales-info {
  display: grid;
  border: 2px solid #ccc;  /* Change the color and thickness as needed */
  grid-column: 2 / 3; /* Take the second column */
  grid-template-rows: 1fr 1fr; /* Split the right column into two rows */
  gap: 20px;
}

.sales-graph {
  border: 2px solid #ccc;  /* Change the color and thickness as needed */
  grid-row: 1; /* Top part of the right column */
}

.sales-data-table {
  border: 2px solid #ccc;  /* Change the color and thickness as needed */

  grid-row: 2; /* Bottom part of the right column */
}

.product-details,
.sales-graph,
.sales-data-table {
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr; /* Stack all components in a single column on smaller screens */
    .product-details,
    .sales-info {
      grid-column: 1;
    }
    .sales-info {
      display: block; /* Disable grid to stack the child components */
    }
  }
}
